
\.idea/jsfnielsmaxima\.iml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/vcs\.xml

\.idea/workspace\.xml

koch\.jsf

koch\.txt

koch2\.jsf

koch2\.txt

mapped\.bin

out/production/jsfnielsmaxima/calculate/callables/CallableMonitor\.class

out/production/jsfnielsmaxima/calculate/callables/EdgeCallable\.class

out/production/jsfnielsmaxima/calculate/callables/EdgeCallable\$1\.class

out/production/jsfnielsmaxima/calculate/Edge\.class

out/production/jsfnielsmaxima/calculate/KochFractal\.class

out/production/jsfnielsmaxima/calculate/KochManager\.class

out/production/jsfnielsmaxima/calculate/tasks/CalculateTask\.class

out/production/jsfnielsmaxima/calculate/tasks/CalculateTask\$1\.class

out/production/jsfnielsmaxima/calculate/tasks/CalculateTask\$2\.class

out/production/jsfnielsmaxima/calculate/threading/KochSide\.class

out/production/jsfnielsmaxima/calculate/weektwaalf/JSF31KochFractalConsole\.class

out/production/jsfnielsmaxima/calculate/weektwaalf/ReadEdgesFromFile\.class

out/production/jsfnielsmaxima/jsf31kochfractalfx/JSF31KochFractalFX\.class

out/production/jsfnielsmaxima/jsf31kochfractalfx/JSF31KochFractalFX\$1\.class

out/production/jsfnielsmaxima/jsf31kochfractalfx/JSF31KochFractalFX\$2\.class

out/production/jsfnielsmaxima/jsf31kochfractalfx/JSF31KochFractalFX\$3\.class

out/production/jsfnielsmaxima/jsf31kochfractalfx/JSF31KochFractalFX\$4\.class

out/production/jsfnielsmaxima/jsf31kochfractalfx/JSF31KochFractalFX\$5\.class

out/production/jsfnielsmaxima/jsf31kochfractalfx/JSF31KochFractalFX\$6\.class

out/production/jsfnielsmaxima/timeutil/TimeStamp\.class

out/production/jsfnielsmaxima/timeutil/TimeStamp\$Period\.class

out/production/jsfnielsmaxima/uitwerking/KochObserver\.class

out/production/jsfnielsmaxima/uitwerking/Uitwerking\.class

src/\.DS_Store

src/calculate/\.DS_Store
